/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/* Общие стили для всего приложения */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

/* Стили для контейнера формы */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* Стили для формы */
.form {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.form h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form input,
.form select {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для кнопок */
.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5%;
  margin-bottom: 5px;
}

.button-blue {
  background-color: #007bff;
}

.button-blue:hover {
  background-color: #0056b3;
}

.button-red {
  background-color: #dc3545;
}

.button-red:hover {
  background-color: #c82333;
}

.button-add {
  background-color: #28a745;
}

.button-add:hover {
  background-color: #218838;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
